<div class="btn-group">
  <button (click)="changeComponent('ngOnChanges')">ngOnChanges</button>
  <button (click)="changeComponent('ngOnInit')">ngOnInit</button>
  <button (click)="changeComponent('ngDoCheck')">ngDoCheck</button>
  <button (click)="changeComponent('ngAfterContentInit')">ngAfterContentInit</button>
  <button (click)="changeComponent('ngAfterContentChecked')">ngAfterContentChecked</button>
  <button (click)="changeComponent('ngAfterViewInit')">ngAfterViewInit</button>
  <button (click)="changeComponent('ngAfterViewChecked')">ngAfterViewChecked</button>
  <button (click)="changeComponent('ngOnDestroy')">ngOnDestroy</button>
</div>

<app-ng-on-changes *ngIf="hookName==='ngOnChanges'"></app-ng-on-changes>
<app-ng-on-init *ngIf="hookName==='ngOnInit'"></app-ng-on-init>
<app-ng-do-check *ngIf="hookName==='ngDoCheck'"></app-ng-do-check>
<app-ng-after-content-init *ngIf="hookName==='ngAfterContentInit'"></app-ng-after-content-init>
<app-ng-after-content-checked *ngIf="hookName==='ngAfterContentChecked'"></app-ng-after-content-checked>
<app-ng-after-view-init *ngIf="hookName==='ngAfterViewInit'"></app-ng-after-view-init>
<app-ng-after-view-checked *ngIf="hookName==='ngAfterViewChecked'"></app-ng-after-view-checked>
<app-ng-on-destroy *ngIf="hookName==='ngOnDestroy'"></app-ng-on-destroy>
